In [1]:
import sys
sys.path.append('./../../')

# OPTIONAL: Load the "autoreload" extension so that code can change
%load_ext autoreload

#Own Library modules
import src
# OPTIONAL: always reload modules so that as you change code in src, it gets loaded
%autoreload 2

from src.feature_engineering import clean_functions as cf

In [3]:
#Corriendo el script que limpia los datos
datos_limpios = cf.prepara_datos()

	-> Importando los datos
	-> Limpiamos los nombres de las columnas
	-> Unimos los datasets
	-> Limpiamos los errores en los datos del cuestionario
	-> Limpiamos los datos de entidad sostenimiento y subsistema
	-> Agrupamos la variable de subsistema
	-> Creamos variables categóricas no binarias
	-> Convertimos las respuestas del cuestionario de string a numéricas
	-> Recodificamos variables categóricas binarias

In [4]:
datos_limpios.head()

,nofolio,genero,ent,nom_ent,cct,modalidad,sost,subsist,hlec,nvl_esp,...,p138_E,p138_F,p138_G,p139_A,p139_B,p139_C,p139_D,p139_E,p139_F,p139_G
0,010000023B16,M,1,aguascalientes,01DBH0004I,bachillerato_general,federal,colbach/otros_federales,-0.76369,I,...,0,0,0,0,0,1,0,0,0,0
1,010000037B16,H,1,aguascalientes,01DBH0004I,bachillerato_general,federal,colbach/otros_federales,0.97389,III,...,0,0,1,0,0,0,1,0,0,0
2,010000008B16,M,1,aguascalientes,01DBH0004I,bachillerato_general,federal,colbach/otros_federales,0.26655,II,...,0,0,0,0,0,0,1,0,0,0
3,010000035B16,H,1,aguascalientes,01DBH0004I,bachillerato_general,federal,colbach/otros_federales,0.36393,II,...,1,0,0,0,0,0,1,0,0,0
4,010000032B16,H,1,aguascalientes,01DBH0004I,bachillerato_general,federal,colbach/otros_federales,0.97389,III,...,0,0,0,0,0,1,0,0,0,0

In [5]:
datos_limpios['nom_ent'].unique().tolist()

['aguascalientes',
 'baja_california',
 'baja_california_sur',
 'campeche',
 'coahuila',
 'colima',
 'chiapas',
 'chihuahua',
 'distrito_federal',
 'durango',
 'guanajuato',
 'guerrero',
 'hidalgo',
 'jalisco',
 'estado_de_mexico',
 'michoacan',
 'morelos',
 'nayarit',
 'nuevo_leon',
 'oaxaca',
 'puebla',
 'queretaro',
 'quintana_roo',
 'san_luis_potosi',
 'sinaloa',
 'sonora',
 'tabasco',
 'tamaulipas',
 'tlaxcala',
 'veracruz',
 'yucatan',
 'zacatecas']

In [6]:
cf.cuenta_nulos_por_columnas(datos_limpios)

El dataframe tiene 273 columnas.
Hay 153 columnas que tienen NA's.

      Missing Values  % del Total
p134           21246          3.8
p144           13825          2.5
p5             13160          2.3
p70            11252          2.0
p153           11244          2.0
...              ...          ...
p23             1020          0.2
p11             1007          0.2
p6               991          0.2
p10              922          0.2
p15              804          0.1

[153 rows x 2 columns]

In [ ]:
#Corroborando que se recodificaron bien las variables categóricas binarias
sorted(datos_limpios['p69'].unique().tolist())

In [7]:
datos_limpios.apply(lambda x: sum(x.isnull().values), axis = 1)

0         0
1         0
2         0
3         0
4         0
         ..
560621    1
560622    0
560623    0
560624    0
560625    0
Length: 560626, dtype: int64

In [9]:
sum(datos_limpios.apply(lambda x: sum(x.isnull().values), axis = 1)>0)

173580

In [11]:
datos_limpios.columns

Index(['nofolio', 'genero', 'ent', 'nom_ent', 'cct', 'modalidad', 'sost',
       'subsist', 'hlec', 'nvl_esp',
       ...
       'p138_E', 'p138_F', 'p138_G', 'p139_A', 'p139_B', 'p139_C', 'p139_D',
       'p139_E', 'p139_F', 'p139_G'],
      dtype='object', length=273)

In [12]:
cf.cuenta_nulos_por_renglones(datos_limpios)

Existen un total de:  173580 valores nulos

Representan el  0.30961817682376486 del total.

173580

In [13]:
cf.cuenta_nulos_por_renglones(datos_limpios)

Existen un total de:  173580 valores nulos

Representan el 30.96% del total.

173580

####

In [14]:
cf.cuenta_nulos_por_renglones(datos_limpios)

Existen un total de:  173580 columnas con valores nulos

Representan el 30.96% del total.

173580

In [16]:
import numpy as np
import pandas as pd

In [17]:
# Prueba en pocas columnas para verificar:
datos_df = {"A":[1,2,3,4,np.nan],"B":[np.nan,2,3,4,5],"C":[np.nan,2,3,4,5],"D":[np.nan,2,3,4,5]}
ds = pd.DataFrame(data=datos_df)

In [18]:
ds

     A    B    C    D
0  1.0  NaN  NaN  NaN
1  2.0  2.0  2.0  2.0
2  3.0  3.0  3.0  3.0
3  4.0  4.0  4.0  4.0
4  NaN  5.0  5.0  5.0

In [20]:
cf.cuenta_nulos_por_renglones(ds)

Existen un total de:  2 columnas con valores nulos

Representan el 40.00% del total.

2